In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

from pycaret.regression import setup, compare_models, create_model, save_model

In [2]:
## Importing dataset

batsman_df = pd.read_csv(r"C:\Users\Harsh\Documents\dream11\ipl\Merged Batting CSV\batting.csv")
bowler_df = pd.read_csv(r"C:\Users\Harsh\Documents\dream11\ipl\Merged Bowling CSV\bowling.csv")

In [3]:
# Converting object data types to categorical variables

# get list of categorical columns
cat_cols = batsman_df.select_dtypes(include=['object']).columns.tolist()
le = LabelEncoder()
for col in cat_cols:
    le.fit(batsman_df[col])
    batsman_df[col] = le.transform(batsman_df[col])

In [4]:
# Converting object data types to categorical variables

# get list of categorical columns
cat_cols = bowler_df.select_dtypes(include=['object']).columns.tolist()
for col in cat_cols:
    le.fit(bowler_df[col])
    bowler_df[col] = le.transform(bowler_df[col])

In [5]:
print(batsman_df.isna().sum())
print(bowler_df.isna().sum())

player        0
runs          0
balls         0
4s            0
6s            0
SR            0
bowler        0
fielders      0
kind          0
player_out    0
date          0
team2         0
winner        0
result        0
venue         0
team1         0
MF            0
30s           0
50s           0
100s          0
0s            0
d11           0
dtype: int64
player            0
overs             0
runs              0
maidens           0
wicket            0
econrate         11
date              0
team2             0
winner            0
result            0
venue             0
team1             0
MF                0
3_wicket_haul     0
4_wicket_haul     0
5_wicket_haul     0
d11               0
dtype: int64

In [6]:
# Replacing na values with mean 
bowler_df.fillna(bowler_df.mean(), inplace=True)
print(bowler_df.isna().sum())

player           0
overs            0
runs             0
maidens          0
wicket           0
econrate         0
date             0
team2            0
winner           0
result           0
venue            0
team1            0
MF               0
3_wicket_haul    0
4_wicket_haul    0
5_wicket_haul    0
d11              0
dtype: int64

In [7]:
# Checking whether any infinity value
print("For batsman:")
print(np.isinf(batsman_df).any())
print("For bowler:")
print(np.isinf(bowler_df).any())

For batsman:
player        False
runs          False
balls         False
4s            False
6s            False
SR            False
bowler        False
fielders      False
kind          False
player_out    False
date          False
team2         False
winner        False
result        False
venue         False
team1         False
MF            False
30s           False
50s           False
100s          False
0s            False
d11           False
dtype: bool
For bowler:
player           False
overs            False
runs             False
maidens          False
wicket           False
econrate          True
date             False
team2            False
winner           False
result           False
venue            False
team1            False
MF               False
3_wicket_haul    False
4_wicket_haul    False
5_wicket_haul    False
d11              False
dtype: bool

In [8]:
# replace infinity values in the 'column_name' column with the mean of the column
column_mean = bowler_df['econrate'].replace([np.inf, -np.inf], np.nan).mean()
bowler_df['econrate'].replace([np.inf, -np.inf], column_mean, inplace=True)
print(np.isinf(bowler_df).any())

player           False
overs            False
runs             False
maidens          False
wicket           False
econrate         False
date             False
team2            False
winner           False
result           False
venue            False
team1            False
MF               False
3_wicket_haul    False
4_wicket_haul    False
5_wicket_haul    False
d11              False
dtype: bool

In [9]:
num_unique_venues = len(batsman_df['venue'].unique())
print(f"The 'venue' column has {num_unique_venues} unique values.")
venue_grouped_batsman = batsman_df.groupby(['player','venue'])['d11'].mean()
venue_grouped_batsman

The 'venue' column has 49 unique values.

player  venue
0       9        24.5
        11        8.0
        13       28.0
        19       30.5
        22       32.5
                 ...
604     22       27.0
        29        4.0
        33        0.5
        35        2.0
        38       -1.0
Name: d11, Length: 5465, dtype: float64

In [10]:
num_unique_venues = len(bowler_df['venue'].unique())
print(f"The 'venue' column has {num_unique_venues} unique values.")
venue_grouped_bowler = bowler_df.groupby(['player','venue'])['d11'].mean()
venue_grouped_bowler

The 'venue' column has 49 unique values.

player  venue
0       2        25.000
        9        12.500
        11       25.000
        19       12.500
        22       12.500
                  ...
471     40        0.000
        41       25.000
        42       25.000
        43       25.000
        46       16.625
Name: d11, Length: 4379, dtype: float64

In [11]:
venue_grouped_batsman = pd.DataFrame(venue_grouped_batsman)
venue_grouped_bowler = pd.DataFrame(venue_grouped_bowler)

In [12]:
venue_grouped_batsman.reset_index(inplace = True)
venue_grouped_batsman

      player  venue   d11
0          0      9  24.5
1          0     11   8.0
2          0     13  28.0
3          0     19  30.5
4          0     22  32.5
...      ...    ...   ...
5460     604     22  27.0
5461     604     29   4.0
5462     604     33   0.5
5463     604     35   2.0
5464     604     38  -1.0

[5465 rows x 3 columns]

In [13]:
venue_grouped_bowler.reset_index(inplace = True)
venue_grouped_bowler

      player  venue     d11
0          0      2  25.000
1          0      9  12.500
2          0     11  25.000
3          0     19  12.500
4          0     22  12.500
...      ...    ...     ...
4374     471     40   0.000
4375     471     41  25.000
4376     471     42  25.000
4377     471     43  25.000
4378     471     46  16.625

[4379 rows x 3 columns]

### PyCaret: A Low-Code Machine Learning Library in Python

PyCaret is a powerful open-source, low-code machine learning library in Python that streamlines the entire machine learning workflow. With PyCaret, you can automate various aspects of machine learning experiments, saving you time and making you more productive.

#### Key Features and Benefits

- End-to-End Machine Learning: PyCaret provides a seamless end-to-end machine learning experience, handling data preprocessing, feature engineering, model training, hyperparameter tuning, and model evaluation.

- Rapid Experimentation: Replace hundreds of lines of code with just a few words! PyCaret enables you to quickly iterate through different models and configurations, making experiments exponentially fast and efficient.

- Integration with Popular Libraries: PyCaret acts as a convenient Python wrapper around various well-known machine learning libraries and frameworks, including scikit-learn, XGBoost, LightGBM, CatBoost, Optuna, Hyperopt, Ray, and more.

#### How PyCaret Works

1. **Import the Library**: Start by importing the PyCaret library into your Python environment.

2. **Load and Preprocess Data**: Load your dataset and perform necessary data preprocessing using PyCaret's simple interface.

3. **Setup the Experiment**: With just one line of code, set up your machine learning experiment, specifying the target variable and any additional configuration settings.

4. **Compare Models**: PyCaret lets you quickly compare multiple models with minimal effort, so you can identify the best-performing ones.

5. **Tune Hyperparameters**: Utilize PyCaret's built-in hyperparameter tuning capabilities to fine-tune your models and improve their performance.

6. **Evaluate and Analyze Results**: PyCaret provides comprehensive model evaluation metrics and visualizations, making it easy to analyze the results of your experiments.

7. **Finalize and Deploy Models**: Once you're satisfied with a model, you can finalize it for production and deploy it with ease.

PyCaret is an excellent tool for both beginners and experienced data scientists, empowering them to build high-quality machine learning models efficiently.

Give PyCaret a try and witness the speed and productivity it brings to your machine learning projects!

For more information, visit the [PyCaret GitHub repository](https://github.com/pycaret/pycaret).

In [14]:
# Set up the PyCaret environment for the batsman dataset
# Make sure to replace 'target' with the name of the target column (the one you want to predict)
batsman_regression_setup = setup(
    data=venue_grouped_batsman, target='d11',train_size=0.7, verbose=False, preprocess=False
)
# Compare all models and print the results for the batsman dataset
best_batsman_model = compare_models(fold = 5, round = 4, sort = 'R2', turbo = True, verbose=True)

In [15]:
# Create the Catboost Regressor model for the batsman dataset using the top-performing model's hyperparameters
batsman_catboost_model = create_model('catboost', fold=5)

# Save the trained Catboost Regressor model for the batsman dataset to a file
save_model(batsman_catboost_model, 'batsman_Catboost_Regressor_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\harsh\AppData\Local\Temp\joblib),
          steps=[('placeholder', None),
                 ('trained_model',
                  <catboost.core.CatBoostRegressor object at 0x000001F5F379F910>)]),
 'batsman_Catboost_Regressor_model.pkl')

In [16]:
# Set up the PyCaret environment for the batsman dataset
# Make sure to replace 'target' with the name of the target column (the one you want to predict)
bowler_regression_setup = setup(
    data=venue_grouped_bowler, target='d11', train_size=0.7, verbose=False, preprocess=False
)
# Compare all models and print the results for the batsman dataset
best_bowler_model = compare_models(fold = 5, round = 4, sort = 'R2', turbo = True, verbose=True)

GradientBoostingRegressor(random_state=1800)

In [17]:
# Create the Gradient Boosting Regressor model for the bowler dataset using the top-performing model's hyperparameters
bowler_gbr_model = create_model('gbr', fold=5)

# Save the trained Gradient Boosting Regressor model for the bowler dataset to a file
save_model(bowler_gbr_model, 'bowler_Gradient_Boosting_Regressor_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\harsh\AppData\Local\Temp\joblib),
          steps=[('placeholder', None),
                 ('trained_model',
                  GradientBoostingRegressor(random_state=1800))]),
 'bowler_Gradient_Boosting_Regressor_model.pkl')

In [18]:
# Split the datasets into train and test sets
train_batsman_df, test_batsman_df = train_test_split(
    venue_grouped_batsman, test_size=0.2, random_state=42
)
train_bowler_df, test_bowler_df = train_test_split(
    venue_grouped_bowler, test_size=0.2, random_state=42
)

In [19]:
X_train_batsman, y_train_batsman = train_batsman_df.iloc[:,:-1], train_batsman_df.iloc[:,-1:]

X_test_batsman, y_test_batsman = test_batsman_df.iloc[:,:-1], test_batsman_df.iloc[:,-1:]

X_train_bowler, y_train_bowler = train_bowler_df.iloc[:,:-1], train_bowler_df.iloc[:,-1:]

X_test_bowler, y_test_bowler = test_bowler_df.iloc[:,:-1], test_bowler_df.iloc[:,-1:]

In [20]:
# Print X_train_batsman column names
print("X_train Batsman Columns:")
print(X_train_batsman.columns)

# Print y_train_batsman column names
print("y_train Batsman Columns:")
print(y_train_batsman.columns)

# Print X_train_bowler column names
print("X_train Bowler Columns:")
print(X_train_bowler.columns)

# Print y_train_bowler column names
print("y_train Bowler Columns:")
print(y_train_bowler.columns)

X_train Batsman Columns:
Index(['player', 'venue'], dtype='object')
y_train Batsman Columns:
Index(['d11'], dtype='object')
X_train Bowler Columns:
Index(['player', 'venue'], dtype='object')
y_train Bowler Columns:
Index(['d11'], dtype='object')

In [21]:
## Predicting for batsman
batsman_catboost_model.fit(X_train_batsman, y_train_batsman)
pred = batsman_catboost_model.predict(X_test_batsman)
r2 = r2_score(pred,y_test_batsman)
print('The r2 using gbr is:',r2)

The r2 using gbr is: -4.6730677515907635

In [22]:
## Predicting for bowler
bowler_gbr_model.fit(X_train_bowler, y_train_bowler)
pred = bowler_gbr_model.predict(X_test_bowler)
r2 = r2_score(pred,y_test_bowler)
print('The r2 using gbr is:',r2)

The r2 using gbr is: -31.554075936715144